<!DOCTYPE html>
<html>
<head>
    <title>Stack Overflow Survey Analysis</title>
</head>
<body>
    <h1>Welcome to the Stack Overflow Survey Analysis</h1>
    <nav>
        <ul>
            <li><a href="/favored-languages">Favored Programming Languages in 2023</a></li>
            <li><a href="/common-education">Most Common Level of Education Among Developers in 2023</a></li>
        </ul>
    </nav>
</body>
</html>